#fmprevent input[type="text"]{
	background:white;
	padding:2px 1px;
	color:black;
	width:auto;
}

#fmprevent #cable-body{
	position:absolute;
	top:190px;
	left:390px
}

#fmprevent input[type="text"], input[type="email"], input[type="number"], input[type="tel"], select{
	width : auto !important;
	height:26px !important;
}

#fmprevent{
	position:relative;
	width:1180px;
	height:450px;
}

#fmprevent.fmprevent-3{
	height:450px;
}

#fmprevent.fmprevent-4{
	height:500px;
}

#fmprevent.fmprevent-5{
	height:500px;
}
.free-cables{
	position:absolute;
	width:174px;
	background-repeat: no-repeat;
}

.free-cables-r{
	left:690px;
}

.free-cables-l{
	left:215px;
}

.free-cables-3{
	top:140px;
	height:198px;
}

.free-cables-4{
	top:81px;
	height:315px;
}

.free-cables-5{
	top:81px;
	height:315px;
}

.conn-r .conn-selector{
	position:absolute;
	right:-110px;
	
}

.conn-l .conn-selector{
	position:absolute;
	left:-110px;
	
}

.conn-r .conn-label{
	position:absolute;
	left:-110px;
	top:20px;
}

.conn-l .conn-label{
	position:absolute;
	left: 50px;
	top: 20px;
}

.conn-r .conn-size-selector{
	position:absolute;
	left:160px;
}

.conn-l .conn-size-selector{
	position:absolute;
	left:-170px;
}

.conn{
	position:absolute;
	left:-1px;
	width:39px;
	height:21px;
}

.free-cables-3.free-cables-r .cable-sgua{
	position:absolute;
	top:200px;
	left:35px;
}

.free-cables-3.free-cables-l .cable-sgua{
	position:absolute;
	top:200px;
	right:35px;
}

.free-cables-4.free-cables-r .cable-sgua{
	position:absolute;
	top:315px;
	left:35px;
}

.free-cables-4.free-cables-l .cable-sgua{
	position:absolute;
	top:315px;
	right:35px;
}

.free-cables-5.free-cables-r .cable-sgua{
	position:absolute;
	top:315px;
	left:35px;
}

.free-cables-5.free-cables-l .cable-sgua{
	position:absolute;
	top:315px;
	right:35px;
}


.free-cables-r .conn-container{
	left:175px;
	position:absolute;
}

.free-cables-l .conn-container{
	right:212px;
	position:absolute;
}


/*3 conns*/
.conn-1-of-3 {
	top:-8px;
}

.conn-2-of-3{
position:absolute;
top:56px;
left:0px
}

.conn-3-of-3{
position:absolute;
top:119px;
left:0px
}




/*4 conns*/
.conn-1-of-4 {
	top:-8px;
}

.conn-2-of-4{
position:absolute;
top:51px;
left:0px
}

.conn-3-of-4{
position:absolute;
top:177px;
left:0px
}

.conn-4-of-4{
position:absolute;
top:236px;
left:0px
}

/*5 conns*/
.conn-1-of-5 {
	top:-8px;
}

.conn-2-of-5{
position:absolute;
top:51px;
left:0px
}

.conn-3-of-5{
position:absolute;
top:114px;
left:0px
}

.conn-4-of-5{
position:absolute;top:177px;left:0px
}

.conn-5-of-5{
position:absolute;top:236px;left:0px
}

#cable-length{
	right: -174px;
	top: -170px;
	position:absolute;
	text-align: center;
}

#cable-sig-r{
	right:0px;top:-38px;position:absolute;
}

#cable-sig-l{
	left:0px;top:-38px;position:absolute;
}

#cable-type{
	position:absolute;
	right: 75px;
	top: 3px;
}

#orderform{
	position: relative;

margin: 30px;
}

#orderform input,label {
   margin-bottom:20px;
}


#canvas canvas{
	visibility:hidden;
}

